/* Customer Service*/

.main,
.popular_questions {
  margin: 40px auto;
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-caret-down {
  padding-right: 10px;
}

.contact {
  margin: 20px auto;
}

.contact a {
  text-decoration: underline;
}

/* About Us */

/* From Screen Size 600px */

@media only screen and (min-width: 600px) {
  body {
    padding: 20px;
  }

  .main {
    max-width: 450px;
  }

  header {
    align-items: flex-end;
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
  }

  nav {
    display: flex;
    position: static;
  }

  nav ul {
    margin: 0px auto;
    display: flex;
  }

  .nav-container label {
    display: none;
  }

  .cta-small {
    font-size: 0.8em;
  }
}

/* From Screen Size 1000px */

@media only screen and (min-width: 1000px) {
  .main {
    max-width: 600px;
    margin: 100px auto;
  }

  .popular_questions {
    margin: 60px auto;
  }

  .h2 {
    font-size: 1.5em;
  }

  .cta {
    padding: 10px 40px;
    transition-duration: 0.4s;
  }

  .cta:hover {
    background-color: #106497;
  }

  header {
    max-width: 1200px;
    margin: 0px auto;
    font-weight: bold;
  }

  nav li {
    font-size: 1.5em;
  }

  footer {
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
  }
}
