/* Customer Service*/

.main,
.popular_questions {
  margin: 40px auto;
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-caret-down {
  padding-right: 10px;
}

.contact {
  margin: 20px auto;
}

.contact a {
  text-decoration: underline;
}
