/* From Screen Size 600px */

@media only screen and (min-width: 600px) {
  body {
    padding: 20px;
  }

  header {
    align-items: flex-end;
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
    border-bottom: 1px solid #0b3b59;
  }

  nav {
    display: flex;
    position: static;
    background-color: transparent;
  }

  nav ul {
    margin: 0px auto;
    display: flex;
  }

  .nav-container label {
    display: none;
  }

  .main {
    max-width: 450px;
    margin: 20px auto;
  }

  /* Home Page */

  .main_home {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }

  .categories-specific {
    flex-wrap: nowrap;
  }

  .clearance {
    min-height: 200px;
  }

  .clearance h2 {
    font-size: 2em;
    margin-top: 50px;
  }

  /* New Arrivals & Product Page */

  .mount-sinai img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* From Screen Size 1000px */

@media only screen and (min-width: 1000px) {
  header {
    max-width: 1200px;
    margin: 0px auto;
  }

  nav li {
    font-size: 20px;
  }

  .main {
    max-width: 600px;
    margin: 40px auto;
  }

  .cta {
    padding: 10px 40px;
    transition-duration: 0.4s;
  }

  .cta:hover {
    background-color: #106497;
  }

  .cta-white:hover {
    background-color: #106497;
    color: #fff;
  }

  footer {
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
  }

  /* Home Page */

  .main_home {
    max-width: 1200px;
    margin: 40px auto;
  }

  .categories h2 {
    font-size: 2em;
  }

  .new-arrivals {
    min-height: 455px;
  }

  .join {
    padding: 15px 5px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .join p {
    font-size: 20px;
  }

  .clearance {
    min-height: 250px;
  }

  .clearance > * {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* New Arrivals & Product Page */

  .product-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .mount-sinai {
    display: flex;
  }

  .mount-sinai > * {
    flex: 1;
  }

  .flex-price {
    display: block;
  }

  .mount-sinai-details {
    padding: 0px 30px;
    margin: 50px auto;
  }

  .mount-sinai img {
    max-width: 350px;
  }

  .size_cta {
    display: flex;
    flex-direction: column;
  }

  /*Shopping Cart & Checkout Success*/

  .shopping-cart img {
    max-width: 150px;
    height: auto;
  }
}
