.product-list {
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.jackets h2 {
  text-align: center;
}

.products img {
  width: 100%;
  grid-column: -1/1;
  border: 1px solid #0b3b59;
}

.products p {
  margin: 0px;
  grid-column: 1;
}

span {
  font-weight: bold;
  font-style: italic;
}

.color {
  align-self: end;
}

.products h3 {
  grid-column: -1/1;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #0b3b59;
  padding: 5px 6px 5px 5px;
}

.cta-small {
  padding: 8px 20px;
  font-size: 0.7em;
  grid-column: 2/3;
  grid-row: 4/6;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .main {
    max-width: 800px;
    margin: 40px auto;
  }

  header {
    align-items: flex-end;
  }

  nav {
    display: flex;
    position: static;
  }

  nav ul {
    margin: 0px auto;
    display: flex;
    /* font-weight: bold; */
  }

  .nav-container label {
    display: none;
  }

  .product-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .jackets h2 {
    font-size: 2em;
  }

  .cta-small {
    /* grid-row: 4/6; */
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 1000px) {
  .main {
    max-width: 1200px;
    margin: 40px auto;
  }

  .cta {
    padding: 10px 20px;
    transition-duration: 0.4s;
  }

  .cta-small {
    font-size: 0.9em;
  }

  .cta:hover {
    background-color: #106497;
  }

  header {
    max-width: 1200px;
    margin: 0px auto;
    font-weight: bold;
  }

  nav li {
    font-weight: bold;
    font-size: 1.5em;
  }

  .product-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .jackets h2 {
    font-size: 2.5em;
  }

  footer {
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
  }
}
