Body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #fff;
  font-size: 16px;
  margin: 0px auto;
}

.product-list {
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.jackets h2 {
  text-align: center;
}

.products img {
  width: 100%;
  grid-column: -1/1;
}

.products p {
  margin: 0px;
  grid-column: 1;
}

span {
  font-weight: bold;
  font-style: italic;
}

.color {
  align-self: end;
}

.products h3 {
  grid-column: -1/1;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #0b3b59;
  padding: 5px 6px 5px 5px;
}

.cta-small {
  padding: 8px 20px;
  font-size: 0.7em;
  grid-column: 2/3;
  grid-row: 4/6;
  text-align: center;
}

/*Product Details*/

.mount-sinai-details {
  margin: 20px auto;
  align-items: center;
}

.mount-sinai-details p {
  margin: 5px 0;
}

.mount-sinai img {
  max-width: 100%;
}

.flex-price {
  display: flex;
  justify-content: space-between;
}

.jacket-colors {
  display: flex;
  text-align: center;
}

span {
  display: inline-block;
}

.flex-colors {
  margin: 5px 10px 15px 0;
  min-width: 46px;
}

.flex-colors p {
  margin: 0 auto;
}

.circle-red {
  border: 1px solid black;
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
}

.circle-blue {
  border: 1px solid black;
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
}

.circle-yellow {
  border: 1px solid black;
  height: 25px;
  width: 25px;
  background-color: yellow;
  border-radius: 50%;
}

.cta-add-to-basket {
  margin-bottom: 20px;
}

.shipping {
  margin: 15px 00;
}

.shipping p {
  margin: 0px auto;
}

@media only screen and (min-width: 600px) {
  body {
    padding: 20px;
  }
  .main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }

  header {
    align-items: flex-end;
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
  }

  nav {
    display: flex;
    position: static;
  }

  nav ul {
    margin: 0px auto;
    display: flex;
  }

  .nav-container label {
    display: none;
  }

  .cta-small {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    padding: 20px;
  }

  .main {
    max-width: 1200px;
    margin: 40px auto;
  }

  .cta {
    padding: 10px 20px;
    transition-duration: 0.4s;
  }

  .cta-small {
    font-size: 0.9em;
  }

  .cta:hover {
    background-color: #106497;
  }

  header {
    max-width: 1200px;
    margin: 0px auto;
    font-weight: bold;
  }

  nav li {
    font-size: 1.5em;
  }

  footer {
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
  }
}
