@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

Body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 20px;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
}

.cta {
  background-color: #0b3b59;
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 5px 35px;
  text-transform: uppercase;
  border: 1px solid #0b3b59;
  font-size: 14px;
  font-family: "Montserrat", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.cta-small {
  padding: 5px 72px;
}

.cta-white {
  background-color: #fff;
  color: #0b3b59;
}

/* Header */

Header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 200px;
}

nav {
  display: none;
}

#hamburger-menu {
  display: none;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  margin: 0px 0px 100px 0px;
}

.icon-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 15px;
}

.icon-elements p {
  display: none;
}

.search {
  margin-top: 15px;
  display: none;
}

.nav-container {
  position: relative;
}

.nav-container label {
  padding: 20px;
}

nav {
  position: absolute;
  right: 0px;
  z-index: 1;
  background: #fff;
  top: 55px;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav ul {
  list-style-type: none;
}

nav li {
  /* display: inline; */
  padding: 0 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #0b3b59;
}

footer {
  background-color: #0b3b59;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  /* margin: 0px auto; */
  text-align: center;
  color: #fff;
}
