@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

Body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: url(../images/alessio-soggetti-cfKC0UOZHJo-unsplash.jpg) no-repeat
    top right fixed;
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  width: 1000px;
  padding: 20px;
  margin: 10px;
}

.cta {
  background-color: #0b3b59;
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 10px 70px;
  text-transform: uppercase;
  font-size: 2em;
  font-family: "Montserrat", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Header */

Header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 294px;
  padding: 20px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  padding: 0 10px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #0b3b59;
}

/* Main */

.new-arrivals {
  background-image: url(/images/pexels-guduru-ajay-bhargav-939722.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  min-height: 550px;
  border: 2px solid #0b3b59;
  position: relative;
  text-align: center;
  background-position-y: center;
}

.new-arrivals-content {
  padding: 50px;
}

.new-arrivals-content .cta {
  background-color: #17803f;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h2 {
  font-weight: bold;
  font-size: 3em;
  color: #0b3b59;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 3em;
  color: #0b3b59;
}

/* Join */

.join {
  width: 90%;
  border: 4px solid #0b3b59;
  text-align: center;
  margin: 20px 0;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  flex-direction: column;
}

/* Category*/

.categories {
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 90%;
  margin-top: 50px;
  grid-gap: 10px;
  text-align: center;
}

.categories-specific {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.categories img {
  width: 100%;
  grid-column: 1;
}

.categories h2,
.categories a {
}

.categories h2 {
  font-size: 3em;
  color: #0b3b59;
}

.categories a {
  font-size: 2em;
  color: #17803f;
}

/* Clearance */
.clearance {
  background-image: url(/images/jon-flobrant-_r19nfvS3wY-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 65%;
  min-height: 250px;
  position: relative;
  opacity: 60%;
  margin-top: 50px;
  border: 2px solid #0b3b59;
  width: 90%;
}

.clearance-content {
  position: absolute;
  top: 50px;
  left: 140px;
  text-align: center;
}

.clearance-content h2 {
  font-size: 40px;
  color: #fff;
}

.clearance .cta {
  opacity: 100%;
}
